/*第二块*/
#create{
	max-width: 1000px;
	height: 590px;
	/*border: 1px solid red;*/
	padding-top: 100px;
	margin: 10% auto 0;
}
#love{
	width: 100%;
	height: 60px;
	/*border: 1px solid saddlebrown;*/
	text-align: center;
	font-size: 23px;
	font-weight: normal;
}
#love_font{
	width: 81%;
	height: 300px;
	/*border: 1px solid salmon;*/
	font-size: 16px;
	line-height: 30px;
	color: rgb(69,70,71);
	margin: 16px auto 0;
	/*letter-spacing: 1px;*/
}
/*第三块*/
#flower{
	width: 99.8%;
	height: 2700px;
	/*border: 1px solid seagreen;*/
}
/*第一个手机*/
#flower_img{
	width: 45%;
	height: 0;
	padding-top: 40%;
	/*border: 1px solid lightsalmon;*/
	position: relative;
	top: 12%;
	left: 13%;
	float: left;
}
#flower_one{
	width: 50%;
	height: 85%;
	position: absolute;
	top: 0;
	border: 2px solid white;
	border-radius: 20px;
	overflow: hidden;
}
#flower_one .top{
	width: 100%;
	height: 14%;
	position: absolute;
	/*border: 1px solid darkblue;*/
	top: 0;
	background: rgb(239,239,239);
}
#flower_one .top>p{
	width: 1.6%;
	height: 8%;
	position: absolute;
	top: 40%;
	left: 48%;
	/*border: 1px solid black;*/
	border-radius: 50%;
	background: rgb(204,204,204);
	box-shadow: 1px 1px 5px white;
}
#flower_one .screen{
	width: 100%;
	height: 71%;
	position: absolute;
	top: 14%;
	/*border: 1px solid darkblue;*/
	background: url(../img/flower_one_1.jpg);
	background-size: cover;
}
#flower_one .screen>p:nth-child(1){
	width: 6%;
	height: 100%;
	position: absolute;
	/*border: 1px solid slateblue;*/
	top: 0;
	background: rgb(239,239,239);
}
#flower_one .screen>p:nth-child(2){
	width: 6%;
	height: 100%;
	position: absolute;
	/*border: 1px solid slateblue;*/
	right: 0;
	background: rgb(239,239,239);
}
#flower_one .bottom{
	width: 100%;
	height: 15%;
	position: absolute;
	/*border: 1px solid saddlebrown;*/
	bottom: 0;
	background: rgb(239,239,239);
}
#flower_one .bottom p{
	width: 13%;
	height: 56%;
	position: absolute;
	bottom: 17%;
	left: 45%;
	border: 2px solid white;
	border-radius: 50%;
}
#flower_two{
	width: 32%;
	height: 70%;
	position: absolute;
	top: 23%;
	left: 46%;
	border: 2px solid white;
	border-radius: 15px;
	overflow: hidden;
}
#flower_two .top{
	width: 100%;
	height: 17%;
	position: absolute;
	top: 0;
	/*border: 1px solid saddlebrown;*/
	background: rgb(239,239,239);
}
#flower_two .top>p:nth-child(1){
	width: 1.7%;
	height: 6%;
	position: absolute;
	top: 35%;
	left: 48%;
	/*border: 1px solid saddlebrown;*/
	background: rgb(204,204,204);
	border-radius: 50%;
	box-shadow: 1px 1px 5px white;
}
#flower_two .top>p:nth-child(2){
	width: 18%;
	height: 8%;
	position: absolute;
	top: 50%;
	left: 40%;
	border-radius: 2px;
	background: rgb(204,204,204);
	/*border: 1px solid saddlebrown;*/
	box-shadow: 1px 1px 5px white;
}
#flower_two .screen{
	width: 100%;
	height: 68%;
	position: absolute;
	top: 17%;
	/*border: 1px solid saddlebrown;*/
	background: url(../img/flower_one_2.jpg);
	background-size: cover;
}
#flower_two .screen>p:nth-child(1){
	width: 6%;
	height: 100%;
	position: absolute;
	top: 0;
	/*border: 1px solid saddlebrown;*/
	background: rgb(239,239,239);
}
#flower_two .screen>p:nth-child(2){
	width: 6%;
	height: 100%;
	position: absolute;
	right: 0;
	/*border: 1px solid saddlebrown;*/
	background: rgb(239,239,239);
}
#flower_two .bottom{
	width: 100%;
	height: 14.9%;
	position: absolute;
	bottom: 0;
	/*border: 1px solid saddlebrown;*/
	background: rgb(239,239,239);
}
#flower_two .bottom>p{
	width: 18%;
	height: 63%;
	position: absolute;
	top: 15%;
	left: 41%;
	/*border: 1px solid saddlebrown;*/
	border-radius: 50%;
	border: 2px solid white;
}
#flower_font{
	float: left;
	/*position: relative;
	left: 500px;*/
}
#flower_font .font{
	width: 250px;
	height: 250px;
	/*border: 1px solid saddlebrown;*/
	position: relative;
	top: 280px;
	left: 90%;
	margin-top: 150px;
}
#flower_font .font>div:nth-child(1){
	font-size: 18px;
	width: 90px;
	height: 24px;
	/*border: 1px solid saddlebrown;*/
	text-align: center;
}
#flower_font .font>div:nth-child(1)>div:nth-child(2){
	width: 55%;
	height: 1.1px;
	/*border: 1px solid saddlebrown;*/
	margin: 8px auto 0;
	background: rgb(255,115,150);
}
#flower_font .font>p:nth-child(2){
	color: rgb(146,146,146);
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 30px;
	line-height: 22px;
}
#flower_font .font>p:nth-child(3){
	color: rgb(74,76,77);
	font-size: 15px;
	margin-top: 25px;
	line-height: 24px;
}
#start_make{
	width: 120px;
	height: 40px;
	font-size: 15px;
	color: rgb(121,121,121);
	text-align: center;
	/*border: 1px solid black;*/
	position: fixed;
	right: 60px;
	top: 50px;
	line-height: 40px;
	border-radius: 6px;
	cursor: pointer;
}
#start_make:hover{
	color: rgb(161,161,161);
	border: 1px solid rgb(155,155,155);
}
